<head>
	<title>publ-monit</title>
	<link rel="icon" href="../favicon_180.png">
</head>
<style>
	#liveData {
	    padding-left: 1%;
    	padding-top: 10%;
	}
	#batchTable > tr, th {
		border: 3px solid black;
	}

	table {
		width: 100%;
		border-top: 1px solid #444444;
		border-collapse: collapse;
	}
	th {
		background-color: #aaaaaa;
	}
	th, td {
		border-bottom: 1px solid #444444;
		border-left: 1px solid #444444;
		padding: 10px;
	}
	th:first-child, td:first-child {
		border-left: none;
	}

	.encoderLog > button {
		display: block;
		padding: 20px;
		width: 100%;
		color: #000;
		text-align: left;
		background-color: #ddd;
		border: 0;
		cursor: pointer;
	}
	.content {
		display: none;
		margin: 0;
		padding: 20px;
		background-color: #fff;
		border-top: 1px solid #ddd;
	}
</style>
<body>
	<h1> Live status [<label id="userName"></label>]</h1>
	<button name="monit" onClick="location.href=`./history/`">show live history</button>
	<button name="monit" onClick="location.href=`./metric/`">show live metric</button>
	<div>
		<h2 style="position: absolute;right: 9%;display: block;background: #dddddd;width: 29px;height: 29px;text-align: center;border: 1px solid black;" id="pauseBtn" onclick="pause()"> || </h2>
		<h2 style="position: absolute;right: 5%;" id="refreshTimer"> 60s </h2>
	</div>
	</br>
	<div id="liveData">
	</div>
</body>
<script src="../js/login.js"></script>
<script src="../js/apiCall.js" ></script>
<script src="../js/timer.js" ></script>
<script>
	getLives();
</script>
