<head>
	<title>publ-monit</title>
	<link rel="icon" href="../../favicon_180.png">
</head>
<style>
	.pagination {
		display: inline-block;
	}
	#repairTable > tr, th {
		border: 3px solid black;
	}
	#repairTable > tr, td {
		border: 1px solid darkblue;
	}
	#btnDiv {
		width: 350px;
		text-align: center;
	}
	#btn1{
		background: #aaaaaa;
		box-shadow: 1px 1px 3px black;
		border: 0px;
		border-radius: 2px;
		text-align: center;
		margin-left: 1%;
		margin-right: 1%;
		width: 7%;
	}
	#btn1:active{
		box-shadow: 0px 0px 0px black;
		transform: translateY(3px);
		transition-duration: 0.1s;
	}
</style>
<body>
	<h1> VOD Repair [<label id="userName"></label>]</h1>
	<label for="vodDataPage" class="pagination"> page : </label><div class="pagination" id="vodDataPage">1</div> <input onclick="vodDataPagingDown()" class="pagination" type="button" value="<<"></input><div class='pagination' id="btnDiv"></div><input onclick="vodDataPagingUp()" class="pagination" type="button" value=">>"></input>
	<label for="vidInput"></label><input type="text" id="vidInput"></input><input type="button" onclick="searchVODById()" value="search">
	<div id="vodData">
	</div>
	<div id="loginDiv"></div>
</body>
<script src="../../js/login.js"></script>
<script src="../../js/vod.repair.js" ></script>
