<head>
	<title>publ-monit</title>
	<link rel="icon" href="./favicon_180.png">
</head>
<style>
	#liveData {
	    padding-left: 10%;
    	padding-top: 10%;
	}
	#batchTable > tr, th {
		border: 3px solid black;
	}
</style>
<body>
	<h1> publ status v1.0 [<label id="userName"></label>]</h1>
    <div id="loginDiv"></div>
	<button name="monit" onClick="location.href=`./vod/`">show vod</button>
	<button name="monit" onClick="location.href=`./live/`">show live</button>
</body>
<script src="js/login.js"></script>
