<head>
	<title>publ-monit</title>
	<link rel="icon" href="../../favicon_180.png">
</head>
<style>
	#liveData {
	    padding-left: 10%;
    	padding-top: 10%;
	}
	#batchTable > tr, th {
		border: 3px solid black;
	}
</style>
<body>
	<h1> Live Metric [<label id="userName"></p>]</h1>

	</br>
	<label for="consumerId">consumerId : </label> <input id="consumerId" type="text">
	<input type="button" onclick="setMetric()" value="make">
	<div id="liveMetricData">
	</div>
	<div id="liveCommonMetricData">
	</div>
</body>
<script src="../../js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../js/metric.js" ></script>
<script>
	getLives();
</script>
