<head>
	<title>publ-monit</title>
	<link rel="icon" href="../favicon_180.png">
</head>
<style>
	#liveData {
	    padding-left: 10%;
    	padding-top: 10%;
	}
	#batchTable > tr, th {
		border: 3px solid black;
	}

	.modal {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		display: none;

		background-color: rgba(0, 0, 0, 0.4);
	}
	.modal_body {
		position: absolute;
		top: 50%;
		left: 50%;

		width: 40px;
		height: 40px;

		padding: 40px;

		text-align: center;

		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

		transform: translateX(-50%) translateY(-50%);
	}
</style>
<body>
	<h1> VOD status [<label id="userName"></label>]</h1>

	<button name="monit" onClick="location.href=`../monit/`">show metric</button>
	<button name="monit" onClick="location.href=`./repair/`">repair</button>
	<div id="vodData">
		<h2>Get VOD Log</h2>
		<div>
			<label for="getLogInput">post uuid </label>
			<input id="getLogInput" type="input"/>
			<input type="button" value="get" onclick="getEncodingLog()"/>
			<label for="logVidText">vid:</label><h2 id="logVidText"></h2>
			<div id="logData">
			</div>
		</div>
		<div id="queueList"></div>
		<table id="batchTable">
			<!--"SUBMITTED"|"PENDING"|"RUNNABLE"|"STARTING"|"RUNNING"|"SUCCEEDED"|"FAILED" -->
            <th onclick="getBatchList(this)">SUBMITTED</th>
			<th onclick="getBatchList(this)">PENDING</th>
			<th onclick="getBatchList(this)">RUNNABLE</th>
			<th onclick="getBatchList(this)">STARTING</th>
			<th onclick="getBatchList(this)">RUNNING</th>
			<th onclick="getBatchList(this)">SUCCEEDED</th>
			<th onclick="getBatchList(this)">FAILED</th>
		</table>
		<div id="batchList">
		</div>
		<div id="logs" style="display: none">
		</div>
		<div id="loadingModal" class="modal">
			<div class="modal_body" id="loadingText">loading...</div>
		</div>
	</div>
</body>
<script src="../js/login.js"></script>
<script src="../js/apiCall.js" ></script>
